.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header > button {
  color: white;
  background-color: gray;
  font-size: large;
  width: 10rem;
  padding: 6px;
}
